body{
	margin: 0%;
	padding: 0%;
	background-color: antiquewhite;
	color: black;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.1rem;
	}

#header{
	background-image: url('../imgs/pexels-photo-683039.jpeg');
	height: 45em;
	margin-top: 0%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}


#navbar{
	margin: 0%;
	padding: 0%;
	height: 6rem;
	transition: 0.3s;
}



#navBarImage{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	padding: 0%;
	width: 70%;
	max-width: 50rem;
	min-width: none;
	top: 0%;

}

a{
	text-decoration: none;
}

#onlineStoreBtn{
	background-color: #eb813b;
	margin: auto;
	display: block;
	border: none;
    border-radius: .3em;
    font-weight: bold;
    transition: 0.2s;
	padding: 1em 1em;
	font-size: large;
}

#onlineStoreBtn:hover {
    transition: 0.3s;
    background-color: #9f4e15;
}



/*about section*/
#aboutSec{
	display: flex;
	max-width: 80rem;
	margin: auto;
}

#aboutPic{
	width: 30rem;
	position: relative;
	display: block;
	margin: 3rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.171), 0 6px 20px 0 rgba(0, 0, 0, 0.151);
}

#aboutTxt{
	padding: 2rem;
}

#aboutTxt > h1{
	border-bottom: solid #9f4e15;
	display: inline-flex;
}

@media(max-width: 950px){
	#aboutSec{
		display: inline-block;
	}

	#aboutPic{
		margin: auto;
		margin-top: 2rem;
		display: block;
		position: relative;
		width: 70%;
	}
}


/*lounge section*/
#loungeSec{
	max-width: 75rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
	text-align: center;
	margin: auto;
	position: relative;

	
}
#loungeSec > h1{
	border-bottom: solid #9f4e15;
	display: inline-flex;
}

.imgCards{
	margin: auto;
	position: relative;
	width: 14rem;
	height: 14rem;
	transition: 0.3s;
}

.imgCards:hover{
	transition: 0.3s;
	/* padding: 3px; */
	width: 13.5rem;
	height: 13.5rem;
}


/*coffee bean section*/
#beanSec{
	margin-top: 5rem;
	background-color: darkgoldenrod;
	background-image: url('../imgs/cafe.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 50rem;
	display: flex;
}

#beanFluff{
	background-color: #261f18;
	color: antiquewhite;
	max-width: 25rem;
	margin-right: 1rem;
	margin-top: 3rem;
	margin-left: 45%;
	margin-bottom: 3rem;
	position: relative;
	padding: 3rem;
	justify-content: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.486), 0 6px 20px 0 rgba(0, 0, 0, 0.479);
}

@media(max-width: 800px){
#beanSec{
	display: flex;
	height: auto;
}

#beanFluff{
	margin: auto;
	width: 50%;
	margin-bottom: 1rem;
	margin-top: 1rem;
}
}

/*footer*/
footer{
	background-color: #261f18;
	min-height: 11rem;
}

#footContainer{
	color: antiquewhite;
	display: flex;
	position: relative;
	margin: auto;
	padding-top: 2rem;
	padding-bottom: 2rem;
	flex-wrap: wrap;
	max-width: 70rem;
}

.footRow{
	min-width: 10rem;
	min-height: 10rem;
	margin: auto;
}

.footRow > h3{
	text-align: center;
}

.footRow > ul{
	list-style: none;
}

#emailLink{
	color: #eb813b;
	transition: 0.2s;
}

#emailLink:hover{
	color: #9f4e15;
	transition: 0.2s;
}






/* navbar */
.btn-toggle-nav{
    width: 50px;
    height: 50px;
    background-image: url('../imgs/hamImg.png');
    background-repeat: no-repeat;
    background-size: 80%;
    cursor: pointer;
    background-position: center;
    margin: 0.5rem;
    transition: 0.2s;
    display: inline-flex;
    position: absolute;
}

.btn-toggle-nav:hover{
    transition: 0.2s;
    background-color: #00000021;
}


#nav-sidebar-close{
	float: right;
	position: relative;
	display:inline-block;
	width: 2rem;
	margin-right: 1rem;
	transition: all 0.3s ease-in-out;
	visibility: hidden;
	overflow: hidden;
	opacity: 0;
	padding: 0.5rem;
}

#nav-sidebar-close:hover{
	transition: 0.3s;
	background-color: #00000010;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}


.nav-sidebar{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%; /*change this to show/hide the sidebar*/
    padding: 0 0px;
    height: 90%;
    background-color: #eb813b;
    transition: all 0.3s ease-in-out;
}

.nav-sidebar ul{
    overflow: hidden;
    visibility: hidden;
}

.nav-sidebar ul li{
    transition: all 0.3s ease-in-out;
    line-height: 60px;
    list-style: none;
    font-weight: 700;
}

.nav-sidebar ul li a{
    display: block;
    height: 70px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: black;
    opacity: 0;
}

.nav-sidebar ul li a:hover{
	color: #530c00;
}